<ion-view title="Video player">
  <ion-header-bar style="padding: 0px;" ng-click="playerClick()">
    <youtube-video  id= "player" class="youtube" video-id="theBestVideo" player-vars="playerVars"></youtube-video>
  </ion-header-bar>
  <ion-content style="margin-top: {{playerHeight}}" on-scroll="onScroll()" on-scroll-complete="onScrollCom()" on-swipe-right="onSwipeRight()" on-swipe-up="onSwipeUp()" on-swipe-down="onSwipeDown()" on-swipe-left="onSwipeLeft()">
    <ion-list>
      <ion-item ng-repeat="item in curVideo.sub track by $index" class = "wrap player-item" ng-class= "{focused  : item == curSubItem}" id = "{{item.timeStart}}">
        <div class="row" >
          <div class="col col-80 subBox" ng-click="timeClick(item)" >
            <p class = "subText" >{{item.__text}}</p>
          </div>
          <div class="col timeBox"  >
            <p class="timeText"> {{item.timeStart}}</p>
          </div>
        </div>
        <ion-option-button class="button-balanced"
                             ng-click="addItem(item)">
            Lưu
        </ion-option-button>
        <ion-option-button class="button-calm"
                             ng-click="edit(item)">
            Dịch
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
